@import 'tailwindcss';

@font-face {
    font-family: 'Potta-One';
    font-style: normal;
    font-display: swap;
    src:
        url('./assets/PottaOne-Regular.woff') format('woff'),
        url('./assets/PottaOne-Regular.woff2') format('woff2');
}

@theme {
    --font-display: 'Potta-One', serif;
    --shadow-lg: 0 5px 10px #000, 0 -5px 10px #000;
}
